# Libraries

In [4]:
import pandas as pd

# Data Preperation

In [26]:
data = pd.read_csv('./spam.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
print("Original Shape of the Dataset")
data.shape

Original Shape of the Dataset

(5157, 2)

In [20]:
data.drop_duplicates(inplace=True)
print("After removing the duplicates")
data.shape

After removing the duplicates

(5157, 2)

In [24]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [30]:
data['Category'] = data['Category'].replace(['ham','spam'],['Not Spam','Spam'])
data.head()

   Category                                            Message
0  Not Spam  Go until jurong point, crazy.. Available only ...
1  Not Spam                      Ok lar... Joking wif u oni...
2      Spam  Free entry in 2 a wkly comp to win FA Cup fina...
3  Not Spam  U dun say so early hor... U c already then say...
4  Not Spam  Nah I don't think he goes to usf, he lives aro...